/*css que hacemos*/
.queHacemos{
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 2rem;
}

.queHacemos__titular{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 40px;
    color: $principal_color;
}